$galleryBoxPadding: 4vw 2vw;
.galleryBox {
  //border: 1px solid red;
  @include breakpoint($ipad) {
    padding: 0;
    flex: 1 1 100%;
    width: 100%;

  }
  padding: $galleryBoxPadding;
  flex: 0 1 50%;
  max-width: 450px;
  display: flex;
  flex-direction: column;

  .pagination {
    @include breakpoint($ipad){
      display: flex;
      margin-bottom: 24px;
    }
    display: none;
    width: auto;
    margin-top: 30px;
    justify-content: center;
    .circle {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        border: 0 solid silver;
        border-radius: 50%;
        @include breakpoint($iphone){
          width: 14px;
          height: 14px;
        }
      }
      &.active {
        opacity: 1;
        &:before {
          border: 1px solid #535150;
        }
      }
      margin: 0 9px;
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #758a94;
      opacity: 0.4;
      @include breakpoint($iphone){
        width: 8px;
        height: 8px;
      }
    }
  }
}

.galleryContentBox {
  @include breakpoint($ipad) {
    padding: 0;
    width: 100%;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
  }
  flex: 0 1 50%;
  //border: 1px solid gray;
  padding: 4vw 2vw 4vw 4vw;
  .color {
    font-size: 1.375rem;
    font-weight: 700;
  }
  .name {

    @include breakpoint($ipad){
      font-size: 1.5rem;
      order: 2;
    }
    span {
      margin-left: 12px;
    }


    margin-top: 60px;
    font-size: 1.875rem;
    color: #222;
    font-weight: 700;
  }
  .intro {

    @include breakpoint($ipad){
      font-size: 1.2rem;
      order: 2;
    }
    font-size: 1.18rem;
    font-weight: 700;
    color: #555;
    line-height: 1.45;
    margin-bottom: 48px;
  }
  p {
    @include breakpoint($ipad){
      order: 2;
    }
    font-size: .9rem;
    line-height: 1.5em;
    color: #555;
  }

  .tabGroup {
    @include breakpoint($ipad){
      padding-top: 0;
      padding-bottom: 0;
    }
    $tabGroupPadding: 48px;
    padding-top: $tabGroupPadding;
    padding-bottom: $tabGroupPadding;
    display: flex;
    justify-content: flex-start;
    .tab {
      &.active {
        position: relative;
        border-bottom: 2px solid #11278A;
      }
      margin-right: 12px;
      cursor: pointer;
      height: 60px;
      width: 60px;
      background-position: center;
      background-size: cover;
    }
  }
}








