header {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  .topSlogan {
    width: 100%;
    @include breakpoint($iphone){
      width: auto;
      flex-direction: column-reverse;
    }
    img {
      &:nth-child(1) {
        @include breakpoint($iphone){
          display: none;
        }
      }
      @include breakpoint($iphone){
        padding: 24px 0;
      }
      max-width: 100%;
      padding: 24px;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter:         drop-shadow(5px 5px 5px #222);
    }
    padding: -24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .product {
    @include breakpoint($ipad){
      padding-top: 18vh;
    }
    padding-top: 24vh;
    img {
      max-width: 720px;
      width: 100%;
    }
  }

  .mainCopy {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 24px;


    .watchName {
      @include breakpoint($ipad) {
        font-size: 2rem;
      }
      color: #fff;
      font-weight: 700;
      font-size: 4rem;
      filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.7));
    }

    .copy {
      font-size: 2rem;
      color: #fff;
      filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.7));
      @include breakpoint($ipad) {

        font-size: 1.5rem;
      }
      @include breakpoint($iphone){
        font-size: 1.2rem;
        text-align: center;
      }
    }

    img {
      max-width: 100%;
    }
  }
}